
@model IEnumerable<FinanceManage.Models.Item>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Supplier List</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Item" asp-action="Create" class="btn btn-primary">Create New Supplier</a> 
        </div>
    </div>
    <br />

    @if(Model.Count() > 0)
    { 
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Supplier Id
                    </th>
                    <th>
                        Supplier Name
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td width="30%">@item.Id</td>
                        <td width="30%">@item.ItemName</td>    
                        <td width="30%">
                            <div class="w-100 btn-group" role="group">
                                <a asp-controller="Item" asp-action="Update" asp-route-Id="@item.Id" class="btn btn-primary mx-1">Update</a>
                                <a asp-controller="Item" asp-action="Delete" asp-route-Id="@item.Id" class="btn btn-danger mx-1">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
            {
                <p>No Suppliers Created Yet</p>
            }
  

</div>

  


