@{
    ViewData["Title"] = "Dashboard";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Account Management of Spice of Asia </h1>
    <p>Income Outgoing Management based on Income, Purchase and Expenses</p>
</div>
